<div fxLayout="row" fxLayoutAlign="space-around">
  <div>
    <button mat-button (click)="loadCourses()">Load Courses</button>
  </div>
  <div>
    <button mat-button (click)="loadCoursesWithError()">
      Load Courses With Error
    </button>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-around">
  <div *ngIf="courses">
    <ul>
      <li *ngFor="let c of courses">
        {{ c.description }}
        <button mat-button (click)="openDialog(c)" color="warning">
          Edit
        </button>
      </li>
    </ul>
  </div>
</div>
