<h3 style="text-align: center;">ThrottleTime</h3>
<p>message: {{ message }}</p>
<div fxLayout="row" fxLayoutAlign="space-around">
  <div>
    <form style="width: 200px;">
      <mat-form-field [formGroup]="form" class="example-full-width">
        <mat-label>Search</mat-label>
        <input #searchInput matInput formControlName="description" />
      </mat-form-field>
    </form>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-around">
  <div>
    <button mat-button mat-button (click)="run()">Run</button>
  </div>
  <div>
    <button mat-button mat-button (click)="clear()">Clear</button>
  </div>
</div>
