<div fxLayout="row" fxLayoutAlign="space-around">
  <div>
    <button mat-button color="accent" (click)="goToConnObs()">
      Connectable Observables
    </button>
  </div>
  <div>
    <button mat-button color="accent" (click)="goToOwnObs()">
      Own Observable
    </button>
  </div>
  <div>
    <button mat-button color="accent" (click)="goToConcatMap()">
      ConcatMap
    </button>
  </div>
  <div>
    <button mat-button color="accent" (click)="goToExhaustMap()">
      ExhaustMap
    </button>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="space-around">
  <div>
    <button mat-button color="accent" (click)="goToDistinctUntilChanged()">
      DistinctUntilChanged
    </button>
  </div>
</div>
