<h4>Mocha with Chai</h4>
<p>
  Mocha.js is a full-fledged JavaScript testing framework built for both the
  browser and Node.js. It runs all of your unit tests serially and creates
  detailed reports. One of the nice features of Mocha is that it allows you to
  easily plug in any assertion library you want, whether you’re familiar with
  the xUnit assertion APIs like assert.js or other varieties such as expect.js
  (used previously) and should.js, to name a few. In this book, because we have
  synchronous as well as asynchronous test requirements, we’ll use a flexible
  API or a domain-specific language (DSL) called Chai.js, which includes support
  for all the testing APIs mentioned previously.
</p>
<p>
  <i>Should.js</i> will be instrumental when running tests involving Promises.
</p>
<p>
  Mocha also has great reporting capabilities. It prints out the results as
  humanreadable sentences—allowing you to tell exactly which behaviors are
  failing in the application—and lets you isolate debugging efforts to a
  specific region. One of the main reasons for using Mocha is its ample support
  for asynchronous testing and promises. Hence, it’s the framework with which
  core RxJS code is tested.
</p>
