<h3 style="margin: 10px;">
  toArray looks for the source Observable to complete, rather than the one you
  switched to
</h3>

<div fxLayout="row" fxLayoutAlign="space-around">
  <mat-form-field>
    <mat-label>Classic Input</mat-label>
    <input matInput type="text" id="input" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Angular FormControl Input</mat-label>
    <input matInput type="text" [formControl]="input2" />
  </mat-form-field>
</div>
<div fxLayout="row" fxLayoutAlign="space-around center">
  <div><app-yt-video [videoUrl]="videoUrl1"></app-yt-video></div>

  <div><app-yt-video [videoUrl]="videoUrl2"></app-yt-video></div>
</div>
<div fxLayout="row" fxLayoutAlign="space-around center">
  <div><app-yt-video [videoUrl]="videoUrl3"></app-yt-video></div>

  <div><app-yt-video [videoUrl]="videoUrl4"></app-yt-video></div>
</div>
