<mat-card class="rxjs-card">
  <mat-card-header>
    <mat-card-title>
      MAP vs. MERGE MAP vs. SWITCH MAP vs. CONCAT MAP
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="100">
        <h3>MERGE MAP</h3>
        <div *ngIf="mergeMapArray.length > 0">
          <mat-list role="list">
            <mat-list-item
              *ngFor="let el of mergeMapArray"
              style="color: whitesmoke;"
              [style.background-color]="el.bgColor"
              >&clubs; {{ el.value }}</mat-list-item
            >
          </mat-list>
        </div>
      </div>

      <div fxFlex="100">
        <h3>CONCAT MAP</h3>
        <div *ngIf="concatMapArray.length > 0">
          <mat-list role="list">
            <mat-list-item
              *ngFor="let el of concatMapArray"
              style="color: whitesmoke;"
              [style.background-color]="el.bgColor"
              >&clubs; {{ el.value }}</mat-list-item
            >
          </mat-list>
        </div>
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="100">
        <h3>MAP</h3>
        <div *ngIf="mapArray.length > 0">
          <mat-list role="list">
            <mat-list-item
              *ngFor="let el of mapArray"
              style="color: whitesmoke;"
              [style.background-color]="el.bgColor"
              >&spades; {{ el.value }}</mat-list-item
            >
          </mat-list>
        </div>
      </div>
      <div fxFlex="100">
        <h3>SWITCH MAP</h3>
        <div *ngIf="switchMapArray.length > 0">
          <mat-list role="list">
            <mat-list-item
              *ngFor="let el of switchMapArray"
              style="color: whitesmoke;"
              [style.background-color]="el.bgColor"
              >&clubs; {{ el.value }}</mat-list-item
            >
          </mat-list>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="runAll()" color="accent">Run All</button>
    <button mat-button (click)="clearAll()" color="accent">
      Clear Merge
    </button>
  </mat-card-actions>
</mat-card>
