<h2 mat-dialog-title>{{ course.description }}</h2>
<app-messages></app-messages>
<app-loading *ngIf="getLoading$() | async"></app-loading>

<!-- <messages></messages> -->

<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <input
      matInput
      placeholder="Course Description"
      formControlName="description"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select category" formControlName="level">
      <mat-option value="BEGINNER">
        Beginner
      </mat-option>
      <mat-option value="INTERMEDIATE">
        Intermediate
      </mat-option>
      <mat-option value="ADVANCED">
        Advanced
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Category" formControlName="category">
    </textarea>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <div fxLayoutAlign="space-around" fxLayout="row">
    <div fxFlex="30">
      <button class="mat-raised-button" (click)="close()">
        Close
      </button>
    </div>

    <div fxFlex="30">
      <button
        class="mat-raised-button mat-primary"
        #saveButton
        (click)="save()"
      >
        Save
      </button>
    </div>
    <div fxFlex="30">
      <button
        class="mat-raised-button mat-warn"
        #saveButton
        (click)="saveWithError()"
      >
        Save With Error
      </button>
    </div>
  </div>
</mat-dialog-actions>
