<div fxLayout="row" fxLayoutAlign="space-around center">
  <div>
    <button mat-button (click)="goToFlat()" color="accent">
      Flat Operators
    </button>
  </div>
  <div>
    <button mat-button (click)="goToNested()" color="accent">
      Nested Operators
    </button>
  </div>
  <div>
    <button mat-button (click)="goToComparison()" color="accent">
      Comparison Operators
    </button>
  </div>
  <div>
    <button mat-button (click)="goToCombineLatest()" color="accent">
      CombineLatest
    </button>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-around">
  <div>
    <button mat-button (click)="goToMulticasting()" color="accent">
      Multicasting
    </button>
  </div>
  <div>
    <button mat-button (click)="goToErrorhandling()" color="accent">
      ErrorHandling
    </button>
  </div>
  <div>
    <button mat-button (click)="goToTesting()" color="accent">
      Testing
    </button>
  </div>
  <div>
    <button mat-button (click)="goToSchedulers()" color="accent">
      Schedulers
    </button>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-around">
  <div>
    <button mat-button (click)="goToConnectableObs()" color="accent">
      Connectable Observables
    </button>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->
