<h3 style="text-align: center;">Throttle Exmaple 1</h3>
<p>Hurry up! Type in some stuff! Promise will fire in 5 sec!</p>
<p>promiseMessage:</p>
<div fxLayout="row" fxLayoutAlign="space-around">
  <p>interval: {{ interval }}</p>
  <p>{{ throttled }}</p>
</div>
<div fxLayout="row" fxLayoutAlign="space-around">
  <div>
    <button mat-button (click)="run2()">Run</button>
  </div>
  <div>
    <button mat-button (click)="clear2()">Clear</button>
  </div>
</div>
<h3 style="text-align: center;">Throttle Exmaple 2</h3>
<h4 style="text-align: center;">timer (click 'Run' and 'dblclick' to stop):</h4>

<p>{{ timer }}</p>
<p *ngIf="done" style="background-color: violet;">{{ done }}</p>
<div fxLayout="row" fxLayoutAlign="space-around">
  <div>
    <button mat-button mat-button (click)="run()">Run</button>
  </div>
  <div>
    <button mat-button mat-button (click)="clear()">Clear</button>
  </div>
</div>

<p>throttles3: {{ throttled3 }}</p>
<p>interval3: {{ interval3 }}</p>

<p *ngIf="done" style="background-color: violet;">{{ done }}</p>
<div fxLayout="row" fxLayoutAlign="space-around">
  <div>
    <button mat-button mat-button (click)="run3()">Run3</button>
  </div>
  <div>
    <button mat-button mat-button (click)="clear3()">Clear</button>
  </div>
  <div>
    <button mat-button mat-button (click)="event($event)">Event</button>
  </div>
</div>
