.class1 {
  background-color: blueviolet;
  color: whitesmoke;
}

.class2 {
  background-color: yellowgreen;
  color: whitesmoke;
}

.class3 {
  background-color: goldenrod;
  color: whitesmoke;
}
