/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Prevents css conflict btw angular and boostrap */
button:focus,
button:active:focus,
button.active:focus {
  outline: none !important;
  outline-style: none !important;
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

a {
  text-decoration: none;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  display: inline-block !important;
  flex-grow: 1;
  margin-right: 16px;
}

.mat-expansion-panel-header {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px !important;
  font-weight: 500;
}

.rxjs-card {
  max-width: 100%;
}
p {
  padding-left: 10px;
  padding-right: 10px;
}
