<div fxLayout="row" fxLayoutAlign="space-around">
  <div>
    <button mat-button color="accent" (click)="goToBuffer()">
      Buffer
    </button>
  </div>
  <div>
    <button mat-button color="accent" (click)="goToChecked()">
      Checked
    </button>
  </div>
  <div>
    <button mat-button color="accent" (click)="goToCourses()">
      Courses
    </button>
  </div>
  <div>
    <button mat-button color="accent" (click)="goToSearchLessons()">
      Search Lessons
    </button>
  </div>
</div>
